<div class="my_header">
  <div class="logo">
    <img src="/images/image7.svg" alt="">
    <p>Lasles<strong>VPN</strong></p>
  </div>
  

  <div class="nav-links">
    <a routerLink="/about">About</a>
    <a routerLink="/features">Features</a>
    <a routerLink="/pricing">Pricing</a>
    <a routerLink="/testimonials">Testimonials</a>
    <a routerLink="/help">Help</a>
    
  </div>


  <div class="auth-buttons">
    <button routerLink="/login">Sign In</button>
    <button  class="sign-up" routerLink="/signup">Sign Up</button>
  </div>
</div>
