<div class="calculator-container">
  <form class="calculator-container-struct" [formGroup]="calculatorForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input id="from" formControlName="from" type="text" placeholder="საიდან" />
    </div>
    <div class="input-group">
      <input id="to" formControlName="to" type="text" placeholder="სად" />
    </div>
    <div class="input-group">
      <input id="container" formControlName="container" type="text" placeholder="კონტეინერი" />
    </div>
    <div class="input-group">
      <input id="start" formControlName="start" type="text" placeholder="დაწყება" />
    </div>
    <div class="input-group">
      <input id="weight" formControlName="weight" type="number" placeholder="წონა" />
    </div>
    <div class="input-group">
      <input id="seaLine" formControlName="seaLine" type="text" placeholder="საზღვაო ხაზი" />
    </div>
    <button
      type="submit"
      [disabled]="calculatorForm.invalid"
      [ngStyle]="{
        backgroundColor: calculatorForm.valid ? 'blue' : 'grey',
        color: calculatorForm.valid ? 'white' : 'black'
      }"
    >
      გამოთვლა
    </button>
  </form>
</div>