.calculator-container {
  width: 529px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.calculator-container-struct {
  display: flex;
  align-items: center; 
 
}

.input-group {
  display: flex;
  flex-direction: column; 
  width: calc(14.28% - 10px);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

input:focus {
  border-color: #007bff; 
  outline: none; 
}

input::placeholder {
  color: #888; 
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px; 
  width: auto;
}

button:disabled {
  cursor: not-allowed;
}

button:not(:disabled) {
  background-color: blue;
  color: white;
}

button:disabled {
  background-color: grey;
  color: black;
}
input::placeholder {
  color: #888;
}