.halp-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}
.help-info-container{
    height: 200px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius:8px;
 
}
