<div class="myContent">
    <div class="LaslesVpn">
        <pre>Want anything to be
    easy with <strong>LaslesVPN.</strong></pre>
        <button class="get-started-btn">Get Started</button> 
    </div>
    <div class="imageLes">
        <img src="/images/imahe.svg" alt="">
    </div>
</div>

<div class="flex-container">
    <div class="flex-item">
        <div class="logo">
            <img src="/images/logoAdm.svg" alt="User Logo">
        </div>
        <div class="text">
            <div class="title">90+ </div>
            <div class="count">Users</div>
        </div>
    </div>
    <div class="flex-item">
        <div class="logo">
            <img src="/images/imgLocation.svg" alt="Location Logo">
        </div>
        <div class="text">
            <div class="title">30+</div>
            <div class="count">Locations</div>
        </div>
    </div>
    <div class="flex-item">
        <div class="logo">
            <img src="/images/imgLast.svg" alt="Server Logo">
        </div>
        <div class="text">
            <div class="title">50+</div>
            <div class="count">Servers</div>
        </div>
    </div>
</div>




<app-my-calculator></app-my-calculator>


<div class="features-container">
    <div class="feature-item">
        <img src="/images/bigImg.svg" alt="Feature Image">
    </div>
    <div class="feature-item">
        <p class="feature-title">
            We Provide <br> Many Features You Can Use
        </p>
        <p class="feature-description">You can explore the features that we provide with fun and have their own functions each feature.</p>
        <p class="feature-subtitle">Powerful online protection.</p> 
        <p class="feature-subtitle">Internet without borders.</p> 
        <p class="feature-subtitle">Supercharged VPN</p> 
        <p class="feature-subtitle">No specific time limits.</p>
        <p class="feature-description">You can explore the features that we provide with fun and have their own functions each feature.</p>
    </div>
</div>
<h2 class="chosePlan" >Choose Your Plan</h2>
<p class="bestAnd">Let's choose the package that is best for you and <br>
     explore it happily and cheerfully.</p>






     
     <div class="parent">
        <div class="child">
            <img src="/images/img33.svg" alt="Image">
            <h2>Free Plan</h2>
            <p>Unlimited Bandwitch</p>
            <p>Encrypted Connection</p>
            <p>Works on All Devices</p>
            <p class="price">Free</p> 
            <button class="select-btn">Select</button>
        </div>
        <div class="child">
            <img src="/images/img33.svg" alt="Image">
            <h2>Standard Plan</h2>
            <p>Unlimited Bandwitch</p>
            <p>Encrypted Connection</p>
            <p>Yes Traffic Logs</p>
            <p>Works on All Devices</p>
            <p class="price">$9 / mo</p> 
            <button class="select-btn">Select</button> 
        </div>
        <div class="child">
            <img src="/images/img33.svg" alt="Image">
            <h2>Premium Plan</h2>
            <p>Unlimited Bandwitch</p>
            <p>Encrypted Connection</p>
            <p>Works on All Devices</p>
            <p>Connect Anywhere</p>
            <p class="price">$12 / mo</p> 
            <button class="select-btn">Select</button> 
        </div>
    </div>

    <h3 class="NetworkConection" >Huge Global Network <br> of Fast VPN</h3>
    <p class="easier" >See LaslesVPN everywhere to make it easier for you when you move <br> locations.</p>

    <div class="mapLocation" >
<img src="/images/mapImg.svg" alt="">
    </div>



    <div class="virtualComuniti">
        <div>
            <button>
                <img src="/images/netflix.svg" alt="Image 1">
            </button>
        </div>
        <div>
            <button>
                <img src="/images/image3.svg" alt="Image 2">
            </button>
        </div>
        <div>
            <button>
                <img src="/images/image4.svg" alt="Image 3">
            </button>
        </div>
        <div>
            <button>
                <img src="/images/image5.svg" alt="Image 4">
            </button>
        </div>
        <div>
            <button>
                <img src="/images/image6.svg" alt="Image 5">
            </button>
        </div>


    </div>
    

